.container-main {
    background-color: $dark_grey;

    .comics-area {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding:80px 270px;
        .card {
            width: calc(100% / 6);
            margin-bottom: 40px;
            color: $white;
            h4{
                margin-top: 20px;
            }
        }
    }
    .icon-area {
        padding: 50px 270px;
        color: $white;
        background-color: $dc_blue;
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{
                margin: 0 5px;
                width: calc(100% / 5);
                img{
                    width: 50px;
                    height: 60px;
                }
                span{
                    display: inline-block;
                    margin-left: 15px;
                }
            }
        }
    }
}