.container-main {
    background-color: $dark_grey;

    .comics-area {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding:80px 270px;
        .card {
            width: calc(100% / 6);
            margin-bottom: 40px;
            color: $white;
            h4{
                margin-top: 20px;
            }
        }
    }
    .icon-area {
        padding: 50px 270px;
        color: $white;
        background-color: $dc_blue;
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{
                margin: 0 5px;
                width: calc(100% / 5);
                img{
                    width: 50px;
                    height: 60px;
                }
                span{
                    display: inline-block;
                    margin-left: 15px;
                }
            }
        }
    }

}
.info-box-top {
    padding: 50px 270px;
    display: flex;
    aside{
        margin:0 25px ;
        h1 {
            font-size: 40px;
            color: navy;
            margin-bottom: 20px;
    
        }
        ul {
            display: flex;
            justify-content: space-around;
            padding: 20px 40px;
            background-color: $green_line;
            color: $white;
        }
        p {
            margin-top: 30px;
        }

    }
}
.info-box-bottom {
    padding: 50px 270px;
    display: flex;
    justify-content: center;
    background-color: beige;
    aside {
        margin: 0 20px;
        width: calc(100% - 20px / 2);
        h2 {
            color: navy;
    
        }
        li {
            margin: 0 20px;
        }
        span {
            display: inline-block;
            margin: 20px 0 ;
        }
    }
}
.icon-box{
    display: flex;
    padding: 0 270px;
    color: grey;
    background-color: beige;
    .box-i {
        border: 1px solid grey;
        border-top: none;
        width: calc(100% / 4);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:10px;
        img {
            width: 50px;
            height: 60px;
        }
        
    }
}
